/* .layoutContainer{
  height: 100vh;
}

.navbar{
  height: 10%;
}

.main{
  height: 85%;
}

.footer{
  height: 5%;
} */


/* @media (max-width: 780px) {
    .navbar {
      display: none;
    }
} */

/* .navbar{
width: 100%;
min-width: 390px;
} */



.layoutContainer {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.navbar {
  width: 100%;
  min-width: 390px;
}

.main {
  padding: 20px;
}

.footer {
  height: 5%;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 60px;
  }
}