.dashboardContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 390px;
}

.main {
    position: relative;
    background: #fff;
    width: 95%;
    border-radius: 15px;
    padding: 20px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 28.64px;
    font-weight: 600;
    line-height: 34.66px;
    text-align: left;
}

.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.border {
    border: 1px solid #adadad70;
    border-radius: 15px;
}

.graph {
    height: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding-bottom: 12px;
}

.graphTitle {
    font-size: 18.64px;
    font-weight: 600;
    line-height: 34.66px;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
}

.recentRequest {
    padding: 0px 30px;
    height: 466px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding-bottom: 12px;
}

.recentReqTitle {
    font-size: 18.64px;
    font-weight: 600;
    line-height: 34.66px;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
}

.request {
    margin-top: 10px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media(max-width: 786px) {
    .main {
        width: 98%;
        padding: 15px;
    }
}
